**/docs/*.aux
**/docs/*.bbl
**/docs/*.bcf
**/docs/*.bib
**/docs/*.blg
**/docs/*.cls
**/docs/*.idx
**/docs/*.ilg
**/docs/*.ind
**/docs/*.log
**/docs/*.out
**/docs/*.pdf
**/docs/*.run.xml
**/docs/*.tex
**/docs/*.toc
**/docs/*/*.pdf
**/src/*/*.pdf
*.bkp
*.dtmp
*.egg-info
*~
.DS_Store
.\#*
.coverage
.ipynb_checkpoints
.jekyll-cache
.metaflow
.pytest_cache
.ruff_cache
\#*
__pycache__
tmp
