<footer>
  <i class="fa fa-copyright"></i> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
  &middot;
  <a href="mailto:{{site.author.email}}"><i class="fas fa-envelope-square" aria-hidden="true" title="author email"></i></a>
  <a href="https://github.com/{{site.repository}}"><i class="fab fa-github" aria-hidden="true" title="GitHub repository"></i></a>
  <a href="{{'/license/' | relative_url}}"><i class="fab fa-creative-commons-by" aria-hidden="true" title="license"></i></a>
</footer>
