<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{site.title}}{% if page.title %} &middot; {{page.title}}{% endif %}</title>
<link rel="me" href="https://mastodon.social/@gvwilson">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="stylesheet" href="{{'/assets/site.css' | relative_url}}" type="text/css">
<link rel="stylesheet" href="{{'/assets/tango.css' | relative_url}}" type="text/css">
